{% extends "layouts/user_layout.html" %}
{% block title %}log in the class{% endblock %}
{% block body %}
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row " class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12 h-auto mt-5">
                    <div id="inset_form"></div>
                        <div id="reader"></div>
                        {% if timeout %}
                            <div class="alert alert-danger mt-3" role="alert">
                                the time now is out of class time
                                <a href="{{ config.app_url }}" class="alert-link">login again</a>
                                <a href="{{ config.app_url }}logout/" class="alert-link">logout user</a>.
                            </div>

                        {% elif error %}
                            <div class="alert alert-danger mt-3" role="alert">
                                fault in login room not found 404
                                <a href="{{ config.app_url }}" class="alert-link">login again</a>
                                <a href="{{ config.app_url }}logout/" class="alert-link">logout user</a>.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{{ config.app_url }}/static/js/qr-scanner.js"></script>
<script>
    var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 });
        
function onScanSuccess(decodedText, decodedResult) {
    html5QrcodeScanner.clear();
    $('#inset_form').html('<form action=""{{ config.app_url }}sign-in/" id="form" name="vote" method="POST" style="display:none;"><input type="text" name="text" value="' + decodedText + '" /></form>');
    $('#form').send();
}

html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock %}
